<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome{% endblock title %}</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% block stylesheets %}
		<link rel="stylesheet" href="../resources/styles/base_page.css">
	{% endblock stylesheets %}
	
</head>
<body>

	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2C5E91;">
	
		{% block pfp %}
		{% endblock pfp %}
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
			{% block navitemsleft %}
			{% endblock navitemsleft %}
			</ul>
		</div>
		<div class="mx-auto order-0">
			<span class="navbar-brand mx-auto" href="#">
				<a href="index.php"><img src="../resources/images/logo.svg" alt="Blogging Site" /></a>
			</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="margin-left: 10px;">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
			{% block navitemsright %}
			{% endblock navitemsright %}
			</ul>
		</div>

	</nav>

	<div class="container" style="margin-top:30px">
		{% block content %}
			<form id="blogSearchForm" class="container" action="{{ search_script|default('search_all_blogs.php') }}" method="GET">
				<h2>Search Blogs</h2>
				<div class="row">
					<div class="col form-group">
						<input class="form-control" type="text" name="blogTitle" placeholder="Search Blog Title" />
					</div>

					<div clas="col form-group">
						<button id="blogSearchButton" class="btn" type="submit">Search</button>
					</div>
				</div>
			</form>
			
			{% if some_var is not empty %}
			
			{% else %}
				<div class="container">
					<div class="row blog-container">
						<img id="blogImg" src="{{ blog_img }}" />
						<div id="titleContainer">
							<h2>{{ blog_title }}</h2>
							<span class="text-muted">
								- by <a href="profile.php?username={{ other_username }}">@{{ other_username }}</a> ({{ blog_last_edit_date }})
							</span>
						</div>
						{{ blog_content|raw }}
					</div>
				</div>
			{% endif %}
		{% endblock content %}
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{% block scripts %}
	{% endblock scripts %}

</body>
</html>