{% extends "profile_base.html.twig" %}

{% block title %}{{ other_username }} Profile{% endblock title %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<img id="userImg" class="img-fluid" src="{{ other_pfp_path }}" />
				<br />
				<p>{{ other_username }}</p>
				
				<p class="text-muted">Joined - {{ other_joined }}</p>
			</div>
		</div>
	</div>
	
	{% if error %}
		<hr />
		<h1 class="d-flex justify-content-center">This user has no blogs</h1>
	{% else %}	
		{{ parent() }}
	{% endif %}
	
{% endblock content %}