
{% extends "profile_base.html.twig" %}

{% block scripts %}
	<script src="../scripts/profile_details.js" ></script>
	<script src="../scripts/image_preview.js"></script>
{% endblock scripts %}

{% block content %}

	<div id="changesModal" class="modal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Saving Changes</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<p>Are you sure you want to save these changes?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button id="saveModalButton" onclick="submitForm();" type="button" class="btn" data-dismiss="modal">Save Changes</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<div id="deleteModal" class="modal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Delete Blog</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<p>Are you sure you want to delete this blog?</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button id="deleteModalButton" onclick="deleteBlog();" type="button" class="btn" data-dismiss="modal">Delete</button>
		  </div>
		</div>
	  </div>
	</div>

	<div class="container">
		<form id="detailsForm" class="row" enctype="multipart/form-data" action="change_details.php" method="POST">
			<div class="col text-center">
				<img onclick="chooseImage();" id="userImg" class="img-fluid" src="{{ pfp_path }}" />
				<input id="fileUpload" type="file" name="userImg" accept="image/jpeg, image/png" />
				<small id="imgHelp" class="form-text error-text"></small> 
				<p class="text-muted">Joined - {{ joined }}</p>
				<input data-toggle="modal" data-target="#changesModal" id="submitButton" type="button" class="btn btn-light mx-auto" value="Save Changes"/>
			</div>
			<div class="col form-group">
				<label for="username" class="form-text">Username</label>
				<input type="text" class="form-control {% if username_error_msg is not empty %}is-invalid{% endif %}" name="username" aria-describedby="usernameHelp" placeholder="Username" value="{{ username|default("") }}">
				<small id="usernameHelp" class="form-text error-text">{{ username_error_msg|default("") }}</small>
			</div>
			<div class="col form-group">
				<label for="email" class="form-text">Email</label>
				<input type="email" class="form-control {% if email_error_msg is not empty %}is-invalid{% endif %}" name="email" aria-describedby="emailHelp" placeholder="Email" value = "{{ email|default("") }}">
				<small id="emailHelp" class="form-text error-text">{{ email_error_msg|default("") }}</small>
			</div>
			<div class="col form-group">
				<label for="password" class="form-text">Password</label>
				<input type="password" class="form-control {% if password_error_msg is not empty %}is-invalid{% endif %}" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
				<small id="passwordHelp" class="form-text error-text">{{ password_error_msg|default("") }}</small>
				<label for="confirmPassword" class="form-text">Confirm Password</label>
				<input type="password" class="form-control {% if password_error_msg is not empty %}is-invalid{% endif %}" name="confirmPassword" placeholder="Confirm password">
			</div>
		</form>
	</div>
	
	<hr />

	{% if error %}
		<h1 class="d-flex justify-content-center">This user has no blogs</h1>
	{% else %}
		{{ parent() }}
		{% if (not no_blogs) and (not found_blogs) %}
			<hr />

			<div id="blogButtonContainer">
				<a href="edit_post.php"><button id="blogEditButton" class="btn">Edit Blog</button></a>
				<button data-toggle="modal" data-target="#deleteModal" id="blogDeleteButton" class="btn">Delete Blog</button>
			</div>
		{% endif %}
	{% endif %}
{% endblock content %}
